spring:
  application:
    name: challenge
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/${DB_NAME:pismo_db}
    username: ${DB_USER:pismo_user}
    password: ${DB_PASSWORD:pismo_pass}
    driver-class-name: org.postgresql.Driver
